/* You can add global styles to this file, and also import other style files */
@import '@/common/assets/layout/layout.scss';
@import 'primeicons/primeicons.css';

.re-color {
    background-color: #9C3DCD;
}

.tle-color {
    background-color: #052242;
}

.wa-color {
    background-color: #e74c3c;
}

